---
const services = [
  {
    step: '01',
    name: 'Matcha-lmond Latte',
    description:
      'This delicious drink is a combination of some matcha green tea, fresh almond milk, and a touch of honey.',
    imageUrl: '/assets/ml.jpeg',  
  },
  {
    step: '02',
    name: 'Orange is the New Black',
    description:
      'This drink adds a twist to the classic orange juice by adding a touch of blackcurrant.',
    imageUrl: '/assets/ob.jpeg',  
  },
  {
    step: '03',
    name: 'Maple Cinnamon Latte',
    description:
      'This drink is a combination of some espresso, steamed milk, and a touch of maple syrup and cinnamon.',
    imageUrl: '/assets/psl.jpeg',  
  },
];
---

<style>
  .service-image {
    width: 100%;
    height: 800px; /* Set the desired height */
    object-fit: cover; /* Ensures the image covers the area, maintaining aspect ratio */
    border-radius: 1rem; /* Match the border radius of the parent container */
  }
</style>

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Featured Beverages</h2>
      <div class="grid gap-8 lg:grid-cols-3">
        {
          services.map((service) => (
            <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
              <p class="text-sm">{service.step}</p>
              <img
                class="service-image"
                src={service.imageUrl}
                alt={service.name}
              />
              <div class="flex flex-col gap-4">
                <h3 class="text-xl font-medium">{service.name}</h3>
                <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                  {service.description}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>